# Environments
.env
venv/
env/
ENV/
env.bak/
venv.bak/
ai_notification_service/venv/
ai_notification_service/.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/
